COMPOSE_PROJECT_NAME=idnest-infra-production
IDNEST_RUNTIME_NETWORK=idnest-runtime-production
HYDRA_PUBLIC_HEALTH_URL=https://hydra.idnest.cloud/health/ready
KRATOS_PUBLIC_HEALTH_URL=https://kratos.idnest.cloud/health/ready
HYDRA_PUBLIC_HTTP_PORT=8446
HYDRA_ADMIN_HTTP_PORT=4445
KRATOS_PUBLIC_HTTP_PORT=8447
KRATOS_ADMIN_HTTP_PORT=4434
