COMPOSE_PROJECT_NAME=idnest-infra-development
IDNEST_RUNTIME_NETWORK=idnest-runtime-development
HYDRA_PUBLIC_HEALTH_URL=https://hydra-dev.idnest.cloud/health/ready
KRATOS_PUBLIC_HEALTH_URL=https://kratos-dev.idnest.cloud/health/ready
HYDRA_PUBLIC_HTTP_PORT=8446
HYDRA_ADMIN_HTTP_PORT=4445
KRATOS_PUBLIC_HTTP_PORT=8447
KRATOS_ADMIN_HTTP_PORT=4434
