COMPOSE_PROJECT_NAME=ory-infra-development
ORY_RUNTIME_NETWORK=ory-runtime-development
HYDRA_TLS_SERVER_NAME=hydra-dev.idnest.cloud
KRATOS_TLS_SERVER_NAME=kratos-dev.idnest.cloud
HYDRA_ORIGIN_HTTPS_PORT=8446
HYDRA_ADMIN_HTTPS_PORT=4445
KRATOS_ORIGIN_HTTPS_PORT=8447
KRATOS_ADMIN_HTTP_PORT=4434
